<h1>Cart</h1>

<div class="row">
<div id="cart">
    {{#if courses.length}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amont</th>
                    <th>Actions</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each courses}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}" data-csrf="{{@root.csrf}}">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    
        <p><strong>Price:</strong><span class="price">{{price}}</span></p>

        <form action="/orders" method="POST">
            <button type="submit" class="btn btn-small">Order</button>
            <input type="hidden" name="_csrf" value="{{csrf}}">
        </form>
    {{else}}
    <p>Cart is empty</p>
    {{/if}}
</div>
</div>

